body{
	font-family: Arial  Rounded MT Bold;
}
h2{
	color:#A9A9A9;
}
a{
	text-decoration: none;
}
a:hover{
	color:black;
}
img{
	border-radius:5px;
	height:150px;
}
#logo{
	
	width:350px; 
	text-align: center;
	color:#A9A9A9;
	border-radius: 5px;
}
#menu{
	width:100%;
	float:right;
	text-align: right;
	background-color: green   ;
	border-radius:5px;
	color:white;
}
#menu li{
	display: inline;
	padding:10px;
}
.page_intro{
	padding-top:60px;
	width:90%;
	margin:auto;
}
.page_intro h1{
	color:green;
	text-align: center;
}
.page_intro a{
	color:green;
}
.page_intro a:hover{
	color:black;
}

.column_1{
	align-self:center;
	flex-grow:1;
}
/*.column_2{
	display:flex;
	flex-direction:column;
}*/

.results_box{
	display:flex;
	flex-direction:row;
	/*flex-grow:1;*/
	padding:10px;
	border-width: 2px;
	border-style: solid;
	border-color: green;
	border-radius: 5px;
	margin:10px;
	color:#A9A9A9;
	justify-content:space-around;
	flex-grow:1;
}
.view_project{
	background-color: green;
	border-radius: 5px;
	color:white;
	padding:5px;
	text-align:center;
	width:50%;
	margin:auto;
	margin-top: 10px;
}
.view_project:hover{
	background-color: orange;
}
.project_results{
	flex-direction:row;
	display:flex;
	justify-content:space-around;
	width:90%;
	margin:auto;
	flex-wrap:wrap;
}
.project_results h1{
	width:100%;
}
.results_box ul{
	flex:1;
}

.textarea{
	width:100%;
	min-height:100px;
}




